<div class="flipped-boxes">
  <div class="page-width">
    <h2>{{ section.settings.title }}</h2>
    <div class="flipped-boxes__wrapper">
      {% comment %}1st Item{% endcomment %}
      <div class="flipped-boxes__half">
        {% for block in section.blocks %}
          {% assign original = block.settings.Title %}
          {% assign lowercased = original | downcase %}
          {% assign first_letter = lowercased | slice: 0, 1 | upcase %}
          {% assign rest_of_sentence = lowercased | slice: 1 %}
          {% if forloop.index == 1 %}
            <div class="flipped-boxes__item first-item no-flip--{{ block.settings.no_flip }}">
              <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      {% if block.settings.no_flip %}
                        <a href="{{ block.settings.page_url }}">
                          <h3 class="flipped-boxes__title">{{ block.settings.Title }}</h3>
                          <img src="{{ block.settings.image | image_url }}" alt="{{ first_letter }}{{ rest_of_sentence }} Image">
                          <div class="overlay"></div>
                        </a>
                      {% else %}
                        <h3 class="flipped-boxes__title">{{ block.settings.Title }}</h3>
                        <img src="{{ block.settings.image | image_url }}" alt="{{ first_letter }}{{ rest_of_sentence }} Image">
                        <div class="overlay"></div>
                      {% endif %}
                    </div>
                    <div class="flip-card-back">
                      <h3>{{ block.settings.Title }}</h3>
                      {{ block.settings.description }}
                      {% if block.settings.page_url %}
                        <a href="{{ block.settings.page_url }}" target="_blank" class="btn btn--white">Book Now</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>
          {% endif %}
        {% endfor %}
        <div class="flipped-boxes__middle">
          {% for block in section.blocks %}
            {% if forloop.index > 1 and forloop.index < 4 %}
              <div class="flipped-boxes__item no-flip--{{ block.settings.no_flip }}">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        {% if block.settings.no_flip %}
                          <a href="{{ block.settings.page_url }}">
                            <h3 class="flipped-boxes__title">{{ block.settings.Title }}</h3>
                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.Title }} Image">
                            <div class="overlay"></div>
                          </a>
                        {% else %}
                          <h3 class="flipped-boxes__title">{{ block.settings.Title }}</h3>
                          <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.Title }} Image">
                          <div class="overlay"></div>
                        {% endif %}
                      </div>
                      <div class="flip-card-back">
                        <h3>{{ block.settings.Title }}</h3>
                        {{ block.settings.description }}
                        {% if block.settings.page_url %}
                          <a href="{{ block.settings.page_url }}" target="_blank" class="btn btn--white">Book Now</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="flipped-boxes__half">
        <div class="flipped-boxes__middle">
          {% for block in section.blocks %}
            {% if forloop.index > 3 and forloop.index < 6 %}
              <div class="flipped-boxes__item no-flip--{{ block.settings.no_flip }}">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        {% if block.settings.no_flip %}
                          <a href="{{ block.settings.page_url }}">
                            <h3 class="flipped-boxes__title">{{ block.settings.Title }}</h3>
                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.Title }} Image">
                            <div class="overlay"></div>
                          </a>
                        {% else %}
                          <h3 class="flipped-boxes__title">{{ block.settings.Title }}</h3>
                          <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.Title }} Image">
                          <div class="overlay"></div>
                        {% endif %}
                      </div>
                      <div class="flip-card-back">
                        <h3>{{ block.settings.Title }}</h3>
                        {{ block.settings.description }}
                        {% if block.settings.page_url %}
                          <a href="{{ block.settings.page_url }}" target="_blank" class="btn btn--white">Book Now</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        {% for block in section.blocks %}
            {% if forloop.index == 6 %}
              <div class="flipped-boxes__item last-item no-flip--{{ block.settings.no_flip }}">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        {% if block.settings.no_flip %}
                          <a href="{{ block.settings.page_url }}">
                            <h3 class="flipped-boxes__title">{{ block.settings.Title }}</h3>
                            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.Title }} Image">
                            <div class="overlay"></div>
                          </a>
                        {% else %}
                          <h3 class="flipped-boxes__title">{{ block.settings.Title }}</h3>
                          <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.Title }} Image">
                          <div class="overlay"></div>
                        {% endif %}
                      </div>
                      <div class="flip-card-back">
                        <h3>{{ block.settings.Title }}</h3>
                        {{ block.settings.description }}
                        {% if block.settings.page_url %}
                          <a href="{{ block.settings.page_url }}" target="_blank" class="btn btn--white">Book Now</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Flipped Boxes",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
    ],
    "blocks": [
      {
        "type": "boxes",
        "name": "Boxes",
        "settings": [
          {
            "type": "checkbox",
            "id": "no_flip",
            "label": "Disable Flip"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "Title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "url",
            "id": "page_url",
            "label": "Page URL"
          }
        ]
      }
    ],
    "presets": [{
        "name": "Flipped Boxes"
    }]
  }
{% endschema %}